.background{
    background-color: #020202;
    margin-top: 0px;
    padding: 0px;
}

.background1{
    background-color: #020202;
    margin-top: 0px;
    padding: 0px;
}

.abc{
    margin-top: 25px;
    display: flex;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 75px;
  }
  h1 {
    color: hsl(10, 10%, 28%);
    font-size: 80px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
  }
  
  h1 span {
    transition: 0.5s ease-out;
  }
  h1:hover span:nth-child(1) {
    margin-right: 5px;
  }
  h1:hover span:nth-child(1):after {
    content: "'";
  }
  h1:hover span:nth-child(2) {
    margin-left: 30px;
  }
  h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }

.heading{
    font-size: 65px;
    font-family: 'Roboto';
    text-align: center;
    margin-top: 0px;
    background-color: none;
    }
